/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    background-color: rgb(240, 236, 227);
}

h1{
    padding-top: 1%;
    color: rgb(199, 177, 152); 
    font-size: 312.5%;
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 22pt;
    color: rgb(89, 110, 121);
    font-weight: bold; /*粗細*/
    font-family: 'Poppins', sans-serif;
}

a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

hr{
    background-color:rgb(223, 211, 195); 
    height:3px; 
    border:none;
}

.center{
    text-align: center;
}

nav > ul {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(89, 110, 121);
    font-family: 'Poppins', sans-serif;
    list-style: none; /* 移除項目符號 */
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;
}

nav a {
    color: inherit; /*超連結顏色*/
    text-decoration: none; /*超連結底線*/
    display: block; /*整條都可以超連結*/
    font-size: 1.3rem; /*字大小*/
    padding: 20px; /*行距*/
}

nav a:hover {
    background-color: rgb(199, 177, 152);
    color: rgb(255, 255, 255);
}

.flex-nav {
    display: flex;
    justify-content: center;
}

footer{
    padding-top: 2em;
    padding-bottom: 1.2em;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 0px;
    margin-bottom: -50px;
    background-color: rgb(89, 110, 121);
    color: #ffffff
}